In [1]:
import pandas as pd
df = pd.read_csv("StudentsPerformance.csv")

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
 8   Total Score                  1000 non-null   int64
dtypes: int64(4), object(5)
memory usage: 70.4+ KB

In [3]:
#1. Ota onasini malumoti yuqori bo'lgan studentlar yaxshiroq resultat ko'rsatgan [T]
#2. Millati A bo'lgan studentlar yaxshiroq resultat ko'rsatgan [F]
#3. Standart lunch yeganlar yaxshiroq resultat ko'rsatgan [F]
#4. Qizlar yaxshiroq resultat ko'rsatgan [T]
#5. Tayorlov kurslarga borgan studentlar yaxshiroq resultat ko'rsatgan [T]

In [4]:
# 90-100 (A)
# 80-90 (B)
# 70-80 (C)
# 60-70 (D)
# 50-60 (F)

In [40]:
df['Total Score'] = (df['math score'] + df['reading score'] + df['writing score'])/3

In [42]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total Score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333

In [44]:
df.groupby(by='race/ethnicity')['Total Score'].mean()

race/ethnicity
group A    62.992509
group B    65.468421
group C    67.131661
group D    69.179389
group E    72.752381
Name: Total Score, dtype: float64

In [46]:
df['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [48]:
df_high = df[df['Total Score'] >= 80]

In [50]:
df_high['race/ethnicity'].count()

198

In [52]:
df_high.groupby(by='race/ethnicity')[['math score', 'reading score', 'writing score']].count()

                math score  reading score  writing score
race/ethnicity
group A                 11             11             11
group B                 35             35             35
group C                 55             55             55
group D                 53             53             53
group E                 44             44             44

In [54]:
# Group E - 31%
# Group D - 20%
# Group C - 17%
# Group B - 18%
# Group A - 12%

In [11]:
df['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [58]:
df_high.groupby('parental level of education')['Total Score'].count().sort_values(ascending=False)

parental level of education
associate's degree    51
some college          46
bachelor's degree     31
some high school      30
high school           20
master's degree       20
Name: Total Score, dtype: int64

In [60]:
#Master - 34%
#Bachelor - 26%
#some college - 20%
#associate's degree - 23%
#high school - 10.2%
#some high school - 16.7%

In [62]:
df['lunch'].value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [66]:
df_high.groupby('lunch')['Total Score'].count()

lunch
free/reduced     39
standard        159
Name: Total Score, dtype: int64

In [68]:
df_high.groupby('gender')['Total Score'].count()

gender
female    118
male       80
Name: Total Score, dtype: int64

In [70]:
df['test preparation course'].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [72]:
df_high.groupby('test preparation course')['Total Score'].count()

test preparation course
completed    107
none          91
Name: Total Score, dtype: int64